body
    {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:initial;
    }

:root
    {
    --vs-main-dark-blue:#4D5D6C;
    --vs-dark-metallic:#2B2B2B;
    --vs-light-metallic:#565050;
    --card-size:388px;
    } 

.vs-container 
    {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

.vs-1600{
    max-width:1600px;
}

.vs-line
    {
    width: 100%;
    min-height: 40px;
    color:white;
    margin:0;
    }

.vs-flex
    {
    display: flex;
    justify-content:space-between;
    }

.vs-flex-column
    {
    display:flex;
    flex-direction: column;
    }

.vs-btn
    {
    display:inline-block;
    padding:10px;
    background:darkblue;
    transition: ease 0.3s all;
    font-family: 'Roboto', sans serif;
    margin:10px 0;
    }

.vs-btn:hover
    {
    cursor:pointer;
    transition: ease 0.3s all;
    background:cadetblue;
    }

.vs-name
    {
    text-align:center;
    font-family: 'Roboto Mono', monotype;
    font-size:75px;
    height: 100px;
    color:var(--vs-dark-metallic);
    }

.vs-rotate
    {
    position: relative;
    }

.vs-post-title
    {
    text-align: center;
    font-size:36px;
    margin:17px auto;
    }

.vs-post-hero
    {
    margin: 60px auto;
    }

.vs-wrap
   {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    background-color: #BBDEFB;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.card
    {
    width: 100%;
    height: 30px;
    position: relative;
    perspective: 1000px;
    }

footer
    {
        margin-top: 78px;
    }


.vs-separator
    {
    width:100%;
    height:2px;
    background:var(--vs-main-dark-blue);
    }

  .vs-main-grid
    {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    }

.pag
    {
    display: flex;
    }

.pagination
    {
    margin: 10px auto;
    }

 .vs-card
    {
    border:2px solid var(--vs-main-dark-blue);
    max-width: var(--card-size);
    overflow: hidden;
    }

.vs-excerpt
    {
    margin:5px;
    }

.vs-block
    {
    margin:20px;
    }

.vs-block-1
    {
    margin-left:0;
    }

.vs-block-3
    {
    margin-right:0;
    }


.vs-sidenav
    {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: darkblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

.vs-position-1
    {
   left:0;
    }

.vs-position-2
    {
   right:0;
    }

.vs-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

}

li{
    list-style-type: none;
}

img
    {
    max-width: 100%;
    height: auto;
    }

p
    {
    text-align: justify;
    }

.vs-sidenav a:hover {
    color: #f1f1f1;
}

.vs-sidenav .closebtn
    {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

.vs-sidenav .closebtn2
    {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
    }


.vs-scrolls
    {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid black;
    position: fixed;
    top: 91.5%;
    right: 8.5%;
    background:darkblue;
    color:white;
    transition: ease 0.3s all;
    }
  
.vs-scrolls:hover
    {
    cursor:pointer;
    background: var(--vs-main-dark-blue);
    transition: ease 0.3s all;
    }


#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width:1630px){

    .vs-main-grid
        {
        grid-template-columns: repeat(3,1fr);

        justify-items: center;
        }


    .vs-scrolls
        {
        right: 15px;

        }
}


@media screen and (max-width:1230px){

    .vs-main-grid
        {
        grid-template-columns: repeat(2,1fr);

        }

}


@media screen and (max-width:830px){

    .vs-main-grid
        {
        grid-template-columns: repeat(1,1fr);

        }

}

@media screen and (max-width:600px){
    .vs-block
    {
    margin:0;
    }
    footer .vs-flex
    {
    flex-direction: column;
    }

    .vs-scrolls
        {
        top: 94.2%;
        right: 15px;

        }
}

@media screen and (max-width:450px){
    .vs-name
        {
        font-size:calc(100vw / 6);
        height:calc(100vw / 4.5);
        }

    .vs-block-2
        {
        margin-top: 20px;
        }

    .vs-post-title
        {
        text-align: center;
        font-size: 22px;
        margin: 17px auto;
        }

}